:root {
  --main-color: #3b78d2;
  --alternative-color: #F7594F;
}.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: white;
  margin-bottom: 150px;
}

/* Logo styles */
.logo img {
  height: 40px; /* Set the height of your logo */
}

/* Navigation styles */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-size: 20px;
  line-height: 16px;
  font-weight: 600;
  color: var(--main-color); /* Or any other color you want */

  text-decoration: none;
}


.nav-links .blue {
  color: black; /* Your blue color */
}



@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


.logo{
width: 112px;
height: 36px;
left: 84px;
top: 73px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;

color: #4B71A9;
}