/* afficher.css */

.container {
    margin: auto;
    margin-top: 8rem;
    width: 80%;
    cursor: pointer;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}
  
.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-link {
    text-decoration: none; /* Remove text decoration for the Link component */
    color: inherit; /* Preserve the default text color */
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.card-content {
    padding: 1rem;
}
  
.card-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
